html, body {
    margin: 0; 
    padding: 0; 
    background-color: white;
}
form {
    padding: 10px;
}
.animal-card {
    margin: 6%;
    border: 2px solid lightcoral;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: background-color 0.2s;
}
.animal-card:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}
h1 {
    text-align: center; 
    color: lightcoral;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h4 {
    text-align: center; 
    color: gray;
    font-style: italic; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button[type=submit] {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    border-radius: 4px;
    background-color: lightcoral;
    border-color: lightcoral;
    cursor: pointer; 
    display: inline-block;
    padding: 5px 6px; 
}
.navbar {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    width: 100%;
    overflow: hidden;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar li {
    float: left; 
}
.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: lightcoral;
    color: white;
}
.searchbar {
    text-align: center;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top_container {
    width: 100%;
    height: 100%; 
    display: flex; 
    justify-content: center;
}
.bottom_container {
    width: 100%;
    height: 100%; 
    display: flex; 
    justify-content: center;
}
.page_content {
    margin: 20px;
}